# Rust
target/
Cargo.lock

# Datos intermedios y auxiliares
salida/
diccionarios/
datos.json

# R
.RData
.Rhistory

# Archivos comprimidos
*.tar.gz

# Azure / ML
.azureml/
.ipynb_checkpoints/

# Sistema
.DS_Store

